.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  overflow-y: hidden;
}

.form {
  align-items: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

/* New CSS for responses and layout */
.form-section,
.response-section {
  flex: 1;
  margin: 0 10px;
}

.mensagens-respostas {
  max-height: 600px;
  overflow-y: auto;
}

.mensagem-resposta {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.mensagem-resposta p {
  margin: 5px 0;
}

.new-border {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.labelD {
  font-size: 16px;
  margin-bottom: 8px;
  display: inline-block;
  margin-right: 10px;
}

.form2{
  display: flex;              /* Organiza os elementos em linha */
  align-items: center;        /* Alinha os itens verticalmente no centro */
  gap: 10px; 
  margin-bottom: 20px;
}