.hamburger-menu {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1000;
}

.menu-icon {
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 10px;
  color: #ccc;
}

.menu-items {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 0;
  padding: 20px;
  width: auto;
  max-width: 500px;
  box-sizing: border-box;
  z-index: 1001;
}

.menu-items a {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.menu-items .button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: white;
  border: none;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  color: #4C5682;
}

.menu-items .button svg {
  color: #4C5682; 
  margin-right: 10px;
}

.menu-items .button:hover {
  background: #f0f0f0;
}

.menu-items .logout-button:hover {
  background: #f0f0f0;
}

.close-icon {
  font-size: 2.5rem;
  position: absolute;
  cursor: pointer;
  color: #4C5682;
  z-index: 1002; 
  padding: 10px;
}

.open .menu-items {
  display: block;
}

.calendar-container {
  position: relative;
  z-index: 1;
}